.footer {
  background-color: $dark-grey;
  color: $white-color;
  padding: 4rem 0;
  text-align: center;

  .back-to-top {
    display: inline-block;
    margin-bottom: 1.2rem;
    cursor: pointer;

    i {
      color: $white-color;
      transition: color 0.3s ease, transform 0.3s ease;

      &:hover,
      &:focus {
        transform: translateY(-6px);
        color: $primary-color;
        outline: none;
      }
    }
  }

  .footer__text {
    font-size: 1.4rem;

    strong {
      font-weight: 700;
    }
  }
}
